asgiref
atomicwrites
attrs
certifi
charset-normalizer
colorama
Django
djangorestframework
dnspython
idna
iniconfig
packaging
pluggy
py
pymongo
pyparsing
pytest
pytest-django
python-dotenv
pytz
requests
sqlparse
toml
urllib3
